.App {
  text-align: center;
  margin: auto;
  width: 50%;
  border: 10px solid green;
  padding: 10px;
  margin-top: 100px;
  color: green;
}

body{
  background-color: black ;
  font-family: 'Lucida Sans TypeWriter', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
}

span{
  font-size: 12px;
}

#gameDesc{
  text-align: left;
  margin-top: -30px;
}

#gameModes li{
  display: inline;
  margin-right: 100px;
  text-align: center;
  }


